@model Student

<h1>Create  Student</h1>

@using (Html.BeginForm("NewStudent", "Student", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { Class = "control-label" })
        @Html.TextBoxFor(m => m.Id, new { Class = "form-control", })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { Class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { Class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.DoB, new { Class = "control-label" })
        @Html.TextBoxFor(m => m.DoB, new { Class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address, new { Class = "control-label" })
        @Html.TextBoxFor(m => m.Address, new { Class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Major, new { Class = "control-label" })
        @Html.TextBoxFor(m => m.Major, new { Class = "form-control" })
    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
    <input type="submit" value="Cancel" class="btn btn-warning" asp-area="" asp-controller="Student" asp-action="ManageStudent" />
}
